<main>
    <!-- <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel"
    style="margin-bottom: -120px;margin-top: -100px;">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../../../assets/front/img/bg1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block"style="margin-top: 500px;">
              <h5 style="font-size: 7.25rem;color: aliceblue;">ÉDUCATION</h5>
              <p style="font-size: 2.25rem;color: aliceblue;">L'éducation pour tous.</p>
              <p style="color: aliceblue;">Nous fournissons toujours nos meilleurs services à nos clients et nous essayons toujours<br> d'obtenir la confiance et la satisfaction de nos clients.</p>
                <button class="btn btn-primary">Voir les détails</button>
            </div>
          </div>
           <div class="carousel-item">
            <img src="../../../../../assets/front/img/bg2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../../../assets/front/img/bg3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div> 
        </div>
         <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div> -->
        <!--? slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" style="min-height: 580px;">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-lg-7 col-md-8">
                                <div class="hero__caption" style="right: -200px;">
                                    <span data-animation="fadeInLeft" data-delay=".2s">Cours en ligne populaires</span>
                                    <h1 data-animation="fadeInLeft" data-delay=".4s" style="font-size: 44px;">La nouvelle façon d'apprendre correctement avec nous !</h1>
                                   
                                    <div class="hero__btn">
                                        <a routerLink="/nosformations" class="btn btn-info"  data-animation="fadeInLeft" data-delay=".8s">Commencez</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-5">
                                <div class="hero-man d-none d-lg-block f-right" data-animation="jello" data-delay=".4s"
                                style="position: relative;
                                right: -200px;
                                bottom: -23px;
                                margin-top: -30px;">
                                    <img src="../../../../../assets/front/img/hero/hero-img.png" 
                                    loading="lazy" alt="">
                                    <!-- <iframe src="https://giphy.com/embed/qMGOIRnDWIUUM4htkD" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/solturo-tech-technology-solturocom-qMGOIRnDWIUUM4htkD">via GIPHY</a></p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
                <!--? Categories Area Start -->
                <div class="categories-area section-padding30">
                    <div class="container">
                        <div class="row no-gutters">
                      
                          <div class="col-lg-3 col-md-6">
                            <div class="single-cat mb-50">
                                <div class="cat-icon">
                                    <span class="flaticon-web-design"></span>
                                </div>
                                <div class="cat-cap">
                                    <h4>Méthodologie</h4>
                                    <p>Apprendre en faisant, apprendre à apprendre est le maître mot de notre démarche pratiquée à 90% .</p>
                                </div>
                            </div>
                          </div>
                      
                          <div class="col-lg-3 col-md-6">
                            <div class="single-cat mb-50">
                                <div class="cat-icon">
                                    <span class="flaticon-education"></span>
                                </div>
                                <div class="cat-cap">
                                    <h4>Bootcamp</h4>
                                    <p>Des bootcamps mis en place en partenariat avec les recruteurs et accessibles à tout le monde.</p>
                                </div>
                            </div>
                          </div>
                      
                          <div class="col-lg-3 col-md-6">
                            <div class="single-cat mb-50">
                                <div class="cat-icon">
                                    <span class="flaticon-computing"></span>
                                </div>
                                <div class="cat-cap">
                                    <h4>Mode d'accès</h4>
                                    <p>En ligne ou en présentiel nos coachs et experts vous apprendront à devenir un vrai codeur.</p>
                                </div>
                            </div>
                          </div>
                      
                          <div class="col-lg-3 col-md-6">
                            <div class="single-cat mb-50">
                                <div class="cat-icon">
                                    <span class="flaticon-communications"></span>
                                </div>
                                <div class="cat-cap">
                                    <h4>Recrutement</h4>
                                    <p>Préparation de CV, préparation d'entretiens et accès à notre réseau de recruteurs.         </p>
                                <br>
                                </div>
                            </div>
                          </div>
                      
                        </div>
                      </div>
                </div>
                <!-- Categories Area End -->

                <!-- <div class="container">
                    <div class="row justify-content-center">
                  
                      <div class="col-md-6">
                        
                            <span class="subheading">Notre Devise</span>
                            <h3 class="mmmmm" style="font-size:42px;">Le meilleur investissement c'est celui que vous faites en vous même.</h3>
                           
                      </div>
                  
                      <div class="col-md-6">
                  <img style="position: relative;" height="80%" width="100%" src="../../../../../assets/front/img/gallery/4639954.jpg" alt="">
                      </div>
                  
                    </div>
                  </div> -->
                <!-- <section  class="section-padding video-section2 clearfix" >
                    <div class="container">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="section-heading">
                            <span class="subheading">Notre Devise</span>
                            <h3 class="mmmmm" style="font-size:42px;">Le meilleur investissement c'est celui que vous faites en vous même.</h3>
                            </div>
                          </div>
                      
                          <div class="col-md-6">
                            <video class="lazy"  width="100%" height="30%" controls playsinline  autoplay loop muted>
                                <source data src="../../../../../assets/front/img"
                                        type="video/mp4">
                                Sorry, your browser doesn't support embedded videos.
                            </video>
                          </div>
                      
                        </div>
                      </div>
                </section> -->



        <!-- Count Down End -->
                <!--? Popular Course Start -->
                <div class="popular-course section-padding30">
                    <div class="container">
                        <div class="row justify-content-sm-center">
                            <div class="cl-xl-7 col-lg-8 col-md-10">
                                <!-- Section Tittle -->
                                <div class="section-tittle text-center mb-70">
                                    <span>Cours le plus populaire de cette semaine</span>
                                    <h2>Notre cours populaire</h2>
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6"
                            *ngFor="let item of datacourse">
                                <!-- Single course -->
                                <div class="single-course mb-40">
                                    <div class="course-img">
                                        <img height="200px" width="100px"
                                        src="{{imagepath}}{{item.photo}}" >
                                    </div>
                                    <div class="course-caption">
                                        <div class="course-cap-top">
                                            <h4><a href="#">{{item.title}}</a></h4>
                                        </div>
                                        <div class="course-cap-mid d-flex justify-content-between">
                                            <ul>
                                                <li><i class="ti-user"></i> 
                                                    Avec {{item.Formateur.name}}{{item.Formateur.prenom}}
                                                </li>
                                            </ul>
                                            <i class="ti-money"> {{item.prix}} DT</i>
                                        </div>
                                        <div class="course-cap-bottom d-flex justify-content-between">
                                            <ul>
                                                <li><i class="ti-time"></i>{{item.duree}}</li>
                                                
                                            </ul>
                                            <!-- <span>Free</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Section Button -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="browse-btn2 text-center mt-50">
                                    <a routerLink="/nosformations" class="btn btn-primary">Trouver plus de cours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Popular Course End -->

                        <!--? Team Ara Start -->
        <div class="team-area pt-160 pb-160 section-bg" [ngStyle]="{backgroundImage:'url(../../../assets/front/img/gallery/section_bg02.png)'}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 text-center mb-70">
                            <span>En savoir plus sur notre faculté</span>
                            <h2>Nos meilleurs professeurs</h2>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6" 
                    *ngFor="let item of dataformateur">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img height="300px" width="150px" src="{{imagepath}}{{item.photo}}"
                             alt="{{item.title}}">
                                <!-- Blog Social -->
                                <ul class="team-social">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-caption">
                                <h3><a routerLink="/formateurs">{{item.name}} {{item.prenom}}</a></h3>
                                <p>{{item.post}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section Button -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="browse-btn2 text-center mt-70">
                            <a routerLink="/formateurs" class="btn btn-primary">Voir tous les professeurs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Ara End -->
                <!--? About Law Start-->
                <div class="about-area section-padding2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="about-caption mb-50">
                                    <!-- Section Tittle -->
                                    <div class="section-tittle mb-35">
                                        <span>En savoir plus sur notre entreprise</span>
                                        <h2>Pour en savoir plus</h2>
                                    </div>
                                    <p>On vous garantie une formation éfficace et un certificat Homologué dans plusieurs domaines technologiques et Soft Skills qui vous facilitent par l'integration au marché d'emploi.</p>
                                    <ul>
                                        <li><span class="flaticon-business"></span>Design moderne & réactif</li>
                                        <li><span class="flaticon-communications-1"></span>Créez votre site Web de manière professionnelle</li>
                                        <li><span class="flaticon-graduated"></span>Certificat Homologué</li>
                                    </ul>
                                    <a routerLink="/apropos" class="btn">En savoir plus sur nous</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <!-- about-img -->
                                <div class="about-img ">
                                    <div class="about-font-img d-none d-lg-block">
                                        <img src="../../../../../assets/front/img/gallery/about2.png" alt="">
                                    </div>
                                    <div class="about-back-img ">
                                        <img src="../../../../../assets/front/img/gallery/about1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About Law End-->

                        <!--? Testimonial Start -->
        <div class="testimonial-area fix pt-180 pb-180 section-bg" style="height: 600px;"
         [ngStyle]="{backgroundImage:'url(../../../assets/front/img/gallery/section_bg03.png)'}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9 col-md-9">
                        <div class="h1-testimonial-active">

                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                  <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
                                </ol>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <div class="single-testimonial pt-65" style="padding-top: 0px;">
                                        <div class="testimonial-icon mb-45">
                                            <img src="../../../../../assets/front/img/gallery/testimonial.png" class="ani-btn " alt="">
                                        </div>
                                        <div class="testimonial-caption text-center">
                                            <p>Vous ne pouvez pas réussir si vous vous contentez de faire ce que 
                                                les autres.</p>
                                            <div class="testimonial-ratting">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="rattiong-caption">
                                                <span>Amine<span> - Amri</span> </span>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="carousel-item">
                                    <div class="single-testimonial pt-65" style="padding-top: 0px;">
                            
                                        <div class="testimonial-icon mb-45">
                                            <img src="../../../../../assets/front/img/gallery/testimonial.png" class="ani-btn " alt="">
                                        </div>
                                           
                                        <div class="testimonial-caption text-center">
                                            <p>font et et que vous suivez le chemin tout tracé.
                                                Vous devez créer un nouveau et original pour vous-même.</p>
                                            
                                            <div class="testimonial-ratting">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="rattiong-caption">
                                                <span>Fatma<span> -Gharbi</span> </span>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

          <!--? Blog Area Start -->
          <div class="container mt-100 mt-60">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">Dernières nouvelles du blog</h4>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        
            <div class="row">
                <div class="col-lg-4 col-md-6 mt-4 pt-2" 
                *ngFor="let item of datablog">
                    <div class="blog-post rounded border">
                        <div class="blog-img d-block overflow-hidden position-relative">
                            <img height="350px" width="350px" src="{{imagepath}}{{item.photo}}"
                            alt="{{item.title}}" class="img-fluid rounded-top">
                            <div class="overlay rounded-top bg-dark"></div>
                            <div class="post-meta">
                                <a (click)="SendIdBlog(item.id)" class="text-light read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div>
                        <div class="content p-3">
                            <small class="text-muted p float-right">{{item.createdAt|date:'yyyy-dd-MM'}}</small>
                            <small><a class="text-primary">{{item.Category.name}}</a></small>
                            <h4 class="mt-2"><a (click)="SendIdBlog(item.id)" class="text-dark title">{{item.title}}</a></h4>
                            <p class="text-muted mt-2"> {{ (item.desc.length>100)? (item.desc | slice:0:90)+'..':(item.desc) }}</p>
                            <div class="pt-3 mt-3 border-top d-flex">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
                                <div class="author mt-2">
                                    <h6 class="mb-0"><a class="text-dark name">{{item.User.username}}</a></h6>
                                </div>
                            </div>
                        </div>
                    </div><!--end blog post-->
                </div><!--end col-->
            </div><!--end row-->
        </div>
        <br>
        <br>
        <br>


        <section class="partenaires">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">NOS PARTENAIRES</h4>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
            <div class="container-fluid">
                <div class="slider-wrap">
                <div class="slider-main">
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                             src="../../../../../assets/front/img/partenaire/img (1).png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (2).png" alt="">     
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (3).png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (4).png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (5).png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (6).png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (7).png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (8).png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (9).png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (10).png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (11).png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (12).png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (13).png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (14).png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (13).png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (14).png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (15).png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <img height="150px" width="250px"
                            src="../../../../../assets/front/img/partenaire/img (16).png" alt="">
                        </div>
                    </div>


                </div>
                <div class="button-area">
                    <button type="button" class="prev" appPrev>Prev</button>
                    <button type="button" class="next" appNext>Next</button>
                </div>
                </div>
            </div>
        </section>

        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- Blog Area End -->
    </main>