  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Gestion Blogs</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Blogs</h6>
        </div>
        <div class="card-body">
            <button type="button" style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#addmodal">
                Add Blog
              </button>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>title</th>
                            <th>desc</th>
                            <th>photo</th>
                            <th>username</th>
                            <th>Category</th>
                            <th>User</th>
                            <th>Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataBlogs ;index as i">
                            <td>{{item.title}}</td>
                            <td>{{item.desc}}</td>
                            <td><img src="{{imagepath}}{{item.photo}}"
                                height="100px" alt="{{item.title}}"></td>
                            <td>{{item.username}}</td>
                            <td>{{item.Category.name}}</td>
                            <td>{{item.User.username}}</td>
                            <td>
                                <button class="btn btn-info">Détails</button>
                                <button class="btn btn-danger"
                                (click)="deleteBlogs(item.id,i)">Delete</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->


<!-- ADdModal -->
<div class="modal fade" id="addmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Blog</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #f="ngForm" (ngSubmit)="addBlogs(f)">
            <div class="form-group">
              <label for="exampleFormControlInput1">Title</label>
              <input
              type="text"
              class="form-control"
              id="title"
              required
              name="title"
              #title="ngModel"ngModel
              />
              <div class="alert alert-danger" *ngIf="title.errors?.required && title.touched">
                Title is required
              </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Description</label>
                <textarea
                type="text"
                class="form-control"
                id="desc"
                required
                name="desc"
                #desc="ngModel"ngModel
                >
                </textarea>
              <div class="alert alert-danger" *ngIf="desc.errors?.required && desc.touched">
                Description is required
              </div>
              </div>

              <div class="form-group">
                <label for="exampleFormControlFile1">Photo</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1"
                required
                name="path"
                #path="ngModel" ngModel
                 (change)="selectImage($event)" />
                 <div class="alert alert-danger" *ngIf="path.errors?.required && path.touched">
                  Photo is required
                </div>
              </div>

              <div class="form-group">
                <label for="exampleFormControlInput1">Username</label>
                <input
                type="text"
                class="form-control"
                id="username"
                required
                name="username"
                #username="ngModel" ngModel
              />
              <div class="alert alert-danger" *ngIf="username.errors?.required && username.touched" >
                Username is required
              </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Categorie</label>
                  <select class="browser-default custom-select"
                  id="categorie"
                  required
                  name="categorie"
                  #categorie="ngModel"ngModel>
                      <option [ngValue]="null" disabled>---Select---</option>
                      <option *ngFor="let item of dataArraycategorie" value="{{item.id}}">{{item.name}}</option>
                    </select>
              </div>
            <div class="alert alert-danger" *ngIf="messageErr" >
              {{messageErr}}
            </div>
            <div class="alert alert-success" *ngIf="messagesucces" >
                {{messagesucces}}
              </div>
            <button class="btn btn-success" [disabled]="f.invalid">Add Blog</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  