<header>
  <!-- Header Start -->
  <div class="header-area">
    <div class="main-header">
      <div
        class="header-top d-none d-lg-block"
        style="background-color: #f3e5bd"
      >
        <!-- Left Social -->
        <div class="header-left-social">
          <ul class="header-social" style="background: #cd9a00">
            <li>
              <a href="https://twitter.com/icstartup" target="_blank"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://www.facebook.com/icstartup" target="_blank"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/icstartup/mycompany"
                target="_blank"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/international_coach_start_up"
                target="_blank"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="container">
          <div class="col-xl-12">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="header-info-left">
                <ul>
                  <li style="margin-left: 10px; color: black">
                    info@icstartup.training
                  </li>
                  <li style="color: black">
                    Tél: +216 97 732 156 / +216 47 002 420
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav
        class="navbar navbar-expand-lg navbar-light"
        style="background-color: #f3e5bd"
      >
        <a class="navbar-brand" routerLink="/"
          ><img
            style="
              height: 60px;
              width: 200px;
              margin-left: 80px;
              display: inline-block;
            "
            src="../../../assets/front/img/logo/logonoir.png"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/"
                >Accueil <span class="sr-only">(current)</span></a
              >
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/apropos">A propos de nous</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/nosformations">Nos Formations</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Choisir vos horaires
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" routerLink="/night-courses"
                  >Cour de Soir</a
                >
                <a class="dropdown-item" routerLink="/summer-academy"
                  >Summer Academy</a
                >
                <a class="dropdown-item" routerLink="/part-time-courses"
                  >Cours du week-end</a
                >
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/evenements">Nos Evénements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/inscription">Inscription</a>
            </li> -->
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- Header End -->
</header>
<router-outlet></router-outlet>
<footer>
  <!--? Footer Start-->
  <div class="footer-area footer-bg">
    <div class="container">
      <div class="footer-top footer-padding">
        <!-- footer Heading -->
        <div class="footer-heading">
          <div class="row justify-content-between">
            <div class="col-xl-6 col-lg-7 col-md-10">
              <div class="footer-tittle2">
                <h4>Restez Informé</h4>
              </div>
              <!-- Form -->
              <div class="footer-form mb-50">
                <div id="mc_embed_signup">
                  <form
                    #f="ngForm"
                    target="_blank"
                    action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                    method="get"
                    class="subscribe_form relative mail_part"
                    novalidate="true"
                  >
                    <input
                      type="email"
                      name="email"
                      id="newsletter-form-email"
                      placeholder=" Email Address "
                      class="placeholder hide-on-focus"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Your email address'"
                      #email="ngModel"
                      ngModel
                    />
                    <div class="form-icon">
                      <button
                        (click)="SendEmail(f.value.email)"
                        class="email_icon newsletter-submit button-contactForm"
                      >
                        S'abonner maintenant
                      </button>
                    </div>
                    <div class="mt-10 info"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-lg-5">
              <div class="footer-tittle2">
                <h4>Suivez-nous sur</h4>
              </div>
              <!-- Footer Social -->
              <div class="footer-social">
                <a href="https://www.facebook.com/icstartup" target="_blank"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a href="https://twitter.com/icstartup" target="_blank"
                  ><i class="fab fa-twitter"></i
                ></a>
                <a
                  href="https://www.instagram.com/international_coach_start_up"
                  target="_blank"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a
                  href="https://www.linkedin.com/company/icstartup/mycompany"
                  target="_blank"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer Menu -->
        <div class="row d-flex justify-content-between">
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <img class="footerlogo"
                  src="../../../assets/front/img/logo/logoic.png"
                  style="
                    vertical-align: bottom;
                    border-style: none;
                    display: inline-block;
                    margin-left: -170px;
                    width: 360px;
                  "
                />
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Société</h4>
                <ul>
                  <li>
                    <i class="ti-location-pin"
                      >International Coach Start Up Rue 18 Janvier 9000 Béja</i
                    >
                  </li>
                  <li><i class="ti-mobile">+216 97 732 156</i></li>
                  <li><i class="ti-email">info@icstartup.training</i></li>
                  <li><i class="ti-basketball">www.icstartup.training</i></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Liens Rapides</h4>
                <ul>
                  <li><a routerLink="/">ACCUEIL</a></li>
                  <li><a routerLink="/apropos">A PROPOS</a></li>
                  <li><a routerLink="/nosformations">FORMATIONS</a></li>
                  <li><a routerLink="/evenements">Evénements</a></li>
                  <li><a routerLink="/blog">BLOG</a></li>
                  <li><a routerLink="/formateurs">FORMATEURS</a></li>
                  <li><a routerLink="/contact">CONTACT</a></li>
                  <li><a routerLink="/inscription">INSCRIPTION</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Programme</h4>
                <ul>
                  <li><a routerLink="/nosformations">Développement</a></li>
                  <li><a routerLink="/nosformations">Design</a></li>
                  <li><a routerLink="/nosformations">Montage Vidéo</a></li>
                  <li><a routerLink="/nosformations">Marketing Digital</a></li>
                  <li>
                    <a routerLink="/nosformations">Community management</a>
                  </li>
                  <li><a routerLink="/nosformations">Plus de formation</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Bottom -->
      <div class="footer-bottom">
        <div class="row d-flex align-items-center">
          <div class="col-lg-12">
            <div class="footer-copy-right text-center">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                2022 All rights reserved by
                <a href="https://www.facebook.com/icstartup" target="_blank"
                  >ICStartup</a
                >
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End-->
</footer>

