<main>
  <!--? Hero Start -->
  <div class="slider-area">
    <div class="slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap hero-cap2 text-center">
              <h2 style="color: #000">Blog</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero End -->

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
    crossorigin="anonymous"
  />

  <section>
    <div class="container">
      <div class="text-center mb-5">
        <h2 class="display-20 display-md-18 display-lg-16">Notre Blog</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-2-6" *ngFor="let item of datablog">
          <article class="card card-style2">
            <div class="card-img">
              <img
                class="rounded-top"
                style="height: 220px; width: 350px"
                src="{{ imagepath }}{{ item.photo }}"
                alt="{{ item.title }}"
              />
              <div class="date">
                <span>{{ item.createdAt | date: "dd" }}</span
                >{{ item.createdAt | date: "MM" }}
              </div>
            </div>
            <div class="card-body">
              <h3 class="h5">
                <a (click)="SendIdBlog(item.id)">"{{ item.title }}"</a>
              </h3>
              <p class="display-30">
                {{
                  item.desc.length > 100
                    ? (item.desc | slice: 0:90) + ".."
                    : item.desc
                }}
              </p>
              <a (click)="SendIdBlog(item.id)" class="read-more">read more</a>
            </div>
            <div class="card-footer">
              <ul>
                <li>
                  <a (click)="SendIdBlog(item.id)"
                    ><i class="fas fa-user"></i>{{ item.User.username }}</a
                  >
                </li>
                <!-- <li>
                  <a (click)="SendIdBlog(item.id)"
                    ><i class="far fa-comment-dots"></i><span>26</span></a
                  >
                </li> -->
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</main>
