<main>
    <!--? Hero Start -->
    <div class="slider-area ">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                            <h2 style="color: #000;">NOS FORMATEURS</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Team Ara Start -->
    <div class="team-area pt-160 pb-160">
        <div class="container">
            <!-- <div class="text-center mb-5">
                <h5 class="text-primary h6"></h5>
                <h2 class="display-20 display-md-18 display-lg-16">Formateurs</h2>
            </div> -->
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6"
                *ngFor="let item of dataformateur">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img height="300px" width="150px" src="{{imagepath}}{{item.photo}}"
                             alt="{{item.title}}">
                            <!-- Blog Social -->
                            <ul class="team-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fas fa-globe"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-caption">
                            <h3><a href="instructor.html">{{item.name}} {{item.prenom}}</a></h3>
                            <p>{{item.post}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team Ara End -->
</main>